<h1>Massive Amounts of College Data</h1>
<p><strong>College: </strong><%= @college_info["name"] %></p>
<!-- Can't use dot notation here @college_info.name because it's a hash not an object -->
<p><strong>Country: </strong><%= @college_info["country"] %></p>

<% if !current_user.colleges.map(&:name).include?(@college_info["name"]) %>
	<%= simple_form_for([current_user, current_user.colleges.build]) do |f| %>
		<%= f.hidden_field :name, :value => @college_info["name"] %>
		<%= f.hidden_field :web_page, :value => @college_info["web_page"] %>
		<%= f.hidden_field :country, :value => @college_info["country"] %>
		<!-- This button hits the create action -->
		<br>
		<%= f.button :submit, 'Favorite', :class => "btn btn-primary"  %>
	<% end %>

<% end %>