<div class= "row">
	<div class="col-md-6">
		<%= button_to "Reset All", reset_path, class: "btn btn-custom pull-right", :method => :get %>
	</div>
	<div class="col-md-6">
		<%= button_to "Printable Version", print_dashboard_path, class: "btn btn-custom", :method => :get %>
	</div>
</div>

<div class="row">
	<div class="col-md-8">

	
		<div class="well tier-box" id="first">			
			<div class="center"><h3>Reach Schools</h3></div>
			<div class="row">
				<% @colleges.each do |college| %>
					<%if college.tier =="Reach" %>
						<div class="well">						
							<%= render 'colleges/tier_form', :college => college   %>
						</div>
					<% end %>
				<% end %>	
			</div>		
		</div>


		<div class="well tier-box" id="second">			
			<div class="center"><h3>Primary Schools</h3></div>
			<div class="row">
				<% @colleges.each do |college| %>
					<%if college.tier =="Primary" %>
						<div class="well">						
							<%= render 'colleges/tier_form', :college => college   %>
						</div>
					<% end %>
				<% end %>	
			</div>		
		</div>

		<div class="well tier-box" id="third">			
			<div class="center"><h3>Secondary Schools</h3></div>
			<div class="row">
				<% @colleges.each do |college| %>
					<%if college.tier =="Secondary" %>
						<div class="well">						
							<%= render 'colleges/tier_form', :college => college   %>
						</div>
					<% end %>
				<% end %>	
			</div>		
		</div>

		<div class="well tier-box" id="fourth">			
			<div class="center"><h3>Tertiary Schools</h3></div>
			<div class="row">
				<% @colleges.each do |college| %>
					<%if college.tier =="Tertiary" %>
						<div class="well">						
							<%= render 'colleges/tier_form', :college => college   %>
						</div>
					<% end %>
				<% end %>	
			</div>		
		</div>

	</div>
	<div class="col-md-4">
		<div class="well tier-box" id="other">
			<div class="center"><h3>Unplaced Schools</h3></div>
			<% @colleges.each do |college| %>
				<%if college.tier ==nil %>
					<div class="well">
						<%= render 'colleges/tier_form_2', :college => college   %>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>



	<!-- <h1 id="dash_title"><%= current_user.email[/[^@]*/].capitalize %>'s Dashboard</h1> -->
