<div class="row">
<div class="container">	
	<h1 id="dash_title"><%= current_user.email[/[^@]*/].capitalize %>'s Dashboard</h1>
	<h3><%= link_to('Reset', reset_path)%></h3>
</div>
<br>
	<div class="col-md-8">

	
		<div class="well" id="gold">			
			<h3>Reach Schools</h3>
			<div class="row">
				<% @colleges.each do |college| %>
					<%if college.tier =="Reach" %>
						<div class="col-md-4">
							<div class="well">						
								<h5><%= link_to(college.name, college )%></h5>
								<%= render 'colleges/tier_form', :college => college   %>
							</div>
						</div>
					<% end %>
				<% end %>	
			</div>		
		</div>


		<div class="well" id="silver">			
			<h3>Primary Schools</h3>
			<div class="row">
				<% @colleges.each do |college| %>
					<%if college.tier =="Primary" %>
						<div class="col-md-4">
							<div class="well">						
								<h5><%= link_to(college.name, college )%></h5>
								<%= render 'colleges/tier_form', :college => college   %>
							</div>
						</div>
					<% end %>
				<% end %>	
			</div>		
		</div>

		<div class="well" id="bronze">			
			<h3>Secondary Schools</h3>
			<div class="row">
				<% @colleges.each do |college| %>
					<%if college.tier =="Secondary" %>
						<div class="col-md-4">
							<div class="well">						
								<h5><%= link_to(college.name, college )%></h5>
								<%= render 'colleges/tier_form', :college => college   %>
							</div>
						</div>
					<% end %>
				<% end %>	
			</div>		
		</div>

		<div class="well" id="tertiary">			
			<h3>Tertiary Schools</h3>
			<div class="row">
				<% @colleges.each do |college| %>
					<%if college.tier =="Tertiary" %>
						<div class="col-md-4">
							<div class="well">						
								<h3><%= link_to(college.name, college )%></h3>
								<%= render 'colleges/tier_form', :college => college   %>
							</div>
						</div>
					<% end %>
				<% end %>	
			</div>		
		</div>

	</div>
	<div class="col-md-4">
		<div class="well" id="other">
			<h3>Unplaced Colleges</h3>
			<% @colleges.each do |college| %>
				<%if college.tier ==nil %>
					<div class="well">
						<h5>
							<%= link_to(college.name, college )%>
						</h5>
								<%= render 'colleges/tier_form', :college => college   %>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>



<h3><%= link_to 'Home', :back %></h3>


