<div class="container">
<h1 id="dash_title"><%= current_user.email %>'s Dashboard</h1>
<br>
	<div class="col-md-8">


		<div class="well dashboard-left" id="gold">			
			<h3>Reach Schools</h3>
			<div class="row">
				<% @colleges.each do |college| %>
				<%if college.tier =="Reach" %>
					<div class="col-md-4">
						<div class="well">						
							<h3>
								<%= link_to(college.name, college )%>
							</h3>
							<strong>
						    <%= link_to 'Delete', college, method: :delete, data: {confirm: 'Are you sure?'} %> 
							</strong>

							<%= simple_form_for college do |f|%>
								<%= f.input :tier, collection: [ "Reach", "Primary", "Secondary", "Tertiary"], prompt: 'Tier', label: false %>
								  <p>
		    					<%= f.button :submit, 'Update', class: 'btn btn-primary' %>
		 			 				</p>
								<% end %>
							</div>
					</div>
				<% end %>
			<% end %>	
			</div>		
		</div>


		<div class="well dashboard-left" id="silver">			
			<h3>Reach Schools</h3>
			<div class="row">
				<% @colleges.each do |college| %>
				<%if college.tier =="Primary" %>
					<div class="col-md-4">
						<div class="well">						
							<h3>
								<%= link_to(college.name, college )%>
							</h3>
							<strong>
						    <%= link_to 'Delete', college, method: :delete, data: {confirm: 'Are you sure?'} %> 
							</strong>

							<%= simple_form_for college do |f|%>
								<%= f.input :tier, collection: [ "Reach", "Primary", "Secondary", "Tertiary"], prompt: 'Tier', label: false %>
								  <p>
		    					<%= f.button :submit, 'Update', class: 'btn btn-primary' %>
		 			 				</p>
								<% end %>
							</div>
					</div>
				<% end %>
			<% end %>	
			</div>		
		</div>

		<div class="well dashboard-left" id="bronze">			
			<h3>Reach Schools</h3>
			<div class="row">
				<% @colleges.each do |college| %>
				<%if college.tier =="Secondary" %>
					<div class="col-md-4">
						<div class="well">						
							<h3>
								<%= link_to(college.name, college )%>
							</h3>
							<strong>
						    <%= link_to 'Delete', college, method: :delete, data: {confirm: 'Are you sure?'} %> 
							</strong>

							<%= simple_form_for college do |f|%>
								<%= f.input :tier, collection: [ "Reach", "Primary", "Secondary", "Tertiary"], prompt: 'Tier', label: false %>
								  <p>
		    					<%= f.button :submit, 'Update', class: 'btn btn-primary' %>
		 			 				</p>
								<% end %>
							</div>
					</div>
				<% end %>
			<% end %>	
			</div>		
		</div>

		<div class="well dashboard-left" id="fourth">			
			<h3>Reach Schools</h3>
			<div class="row">
				<% @colleges.each do |college| %>
				<%if college.tier =="Tertiary" %>
					<div class="col-md-4">
						<div class="well">						
							<h3>
								<%= link_to(college.name, college )%>
							</h3>
							<strong>
						    <%= link_to 'Delete', college, method: :delete, data: {confirm: 'Are you sure?'} %> 
							</strong>

							<%= simple_form_for college do |f|%>
								<%= f.input :tier, collection: [ "Reach", "Primary", "Secondary", "Tertiary"], prompt: 'Tier', label: false %>
								  <p>
		    					<%= f.button :submit, 'Update', class: 'btn btn-primary' %>
		 			 				</p>
								<% end %>
							</div>
					</div>
				<% end %>
			<% end %>	
			</div>		
		</div>

	</div>
	<div class="col-md-4">
		<div class="well dashboard-right" id="other">
			<h3>Unplaced Colleges</h3>
			<% @colleges.each do |college| %>
				<%if college.tier ==nil %>
					<div class="well">
						<h3>
							<%= link_to(college.name, college )%>
						</h3>
						<strong>
					    <%= link_to 'Delete', college, method: :delete, data: {confirm: 'Are you sure?'} %> 
						</strong>

						<%= simple_form_for college do |f|%>
							<%= f.input :tier, collection: [ "Reach", "Primary", "Secondary", "Tertiary"], prompt: 'Tier', label: false %>
							  <p>
	    					<%= f.button :submit, 'Update', class: 'btn btn-primary' %>
	 			 				</p>
						<% end %>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>



<div><%= link_to 'Back', :back %></div>


