<h1 class="center">Results</h1>
<div class="center"><%= button_to "Back", add_colleges_path, class: "btn btn-custom", :method => :get %></div>

<br>

<% @colleges.each do |college| %>

<div class ="row row-centered">
	<div class="col-md-6 col-centered">
		<div class="well center">
			<h3><%=link_to(college.name, details_path(college.id)) %></h3>
		  <h5><%= link_to(college.web_page.downcase, "http://" + college.web_page) %></h5>
		    
			  <% if current_user.colleges.include?(college) %>
					<%= button_to "UnFavorite", college, :method => :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-custom-danger"   %>
				<% else %>
					<%= button_to "Favorite", favorite_path(college), :class => "btn btn-custom" %>
		    <% end %>
		  </div>
	  </div>
  </div>

<% end %>

<br>

<%if @colleges.length > 10 %>
<div class="center"><%= button_to "Back", add_colleges_path, class: "btn btn-custom", :method => :get %></div>
<%end %>
