<div class="container">
	<div class="row">

		<div class="col-md-5">
			<div class="well">
				<h3>Information</h3>
				<p><strong>College: </strong><%= @college.name %></p>
				
				<p>
					<strong>URL: </strong>
					<%= link_to(@college.web_page.downcase, "http://" + @college.web_page) %>
				</p>
				

				<p><strong>Address: </strong><%= @college.address %>, <%= @college.city %>, <%= @college.state %> <%= @college.zip %></p>
				<p><strong>Phone: </strong><%= @college.phone %></p>

			</div>

			<div class="well">
				<h3>Notes</h3>
				<!-- LIST NOTES -->
					<% @notes.each do |note| %>
						
						<!-- EDIT -->
						<%= date_format(note.created_at)%>
						<%= link_to edit_note_path note do %>
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
						<% end %>
						
						<!-- DELETE -->
						<%= link_to note, method: :delete, data: { confirm: 'Are you sure?' } do %>
						<i class="fa fa-trash" aria-hidden="true"></i>
						<% end %>	
						<br>
						<%=note.body %>
						
						<!-- FORMATTING -->
						<hr>
					<% end %>
		
					<%= render 'colleges/form' %>
			</div>

		</div>

		<% items = { 
			"c1" => "Get the application", 
			"c2" => "Make a note of the regular application deadline",
			"c3" => "Make a note of the early application deadline",
			"c4" => "Request high school transcript sent",
			"c5" => "Request midyear grade report sent",
			"c6" => "Find out if an admission test is required",
			"c7" => "Take an admission test, if required",
			"c8" => "Take other required or recommended tests",
			"c9" => "Send admission-test scores",
			"c10" => "Send other test scores",
			"c11" => "Request recommendation letters",
			"c12" => "Send thank-you notes to recommendation writers",
			"c13" => "Draft initial essay",
			"c14" => "Proofread essay for spelling and grammar",
			"c15" => "Have two people read your essay",
			"c16" => "Revise your essay",
			"c17" => "Proofread your revision",
			"c18" => "Interview at college campus",
			"c19" => "Have an alumni interview",
			"c20" => "Submit FAFSA",
			"c21" => "Submit PROFILE, if needed",
			"c22" => "Make a note of the priority financial aid deadline",
			"c23" => "Make a note of the regular financial aid deadline",
			"c24" => "Complete college application",
			"c25" => "Make copies of all application materials",
			"c26" => "Pay application fee",
			"c27" => "Sign and send application",
			"c28" => "Submit college aid form, if needed",
			"c29" => "Submit state aid form, if needed",
			"c30" => "Confirm receipt of application materials",
			"c31" => "Send additional material, if needed",
			"c32" => "Tell school counselor that you applied",
			"c33" => "Receive letter from office of admission",
			"c34" => "Receive financial aid award letter",
			"c35" => "Meet deadline to accept admission and send deposit",
			"c36" => "Accept financial aid offer",
			"c37" => "Notify the colleges you will not attend" 
			} %>



		<div class="col-md-7">
			<div class="well">
			<h3>Application Checklist</h3>

		  <div class="form-group">
			<% items.each do |key, value| %>
        <input type="checkbox" name="fancy-checkbox-default" id="<%= key %>" autocomplete="off" />
				<a href="/colleges/<%= @checklist.id %>/update/<%= key %>">          
        	<div class="btn-group">
						<label for="fancy-checkbox-default" class="<%= @checklist[key] ? 'btn btn-success' : 'btn btn-default' %>">
	            <% if @checklist[key] == false %>
	            	<span>   </span>
	            <% else %>
	            	<span class="fa fa-graduation-cap fa-lg"></span>
	            <% end %>
	          </label>
	          <label for="c1" class="btn btn-default active">
	            <%=value %>
	          </label>
       		</div>
        </a>
			<% end %>
			</div>




		</div>
	</div>
</div>



