<div class="container">
	<div class="row">

		<div class="col-md-6">
			<div class="well">
				<h3>Information</h3>
				<p><strong>College: </strong><%= @college.name %></p>
				
				<p>
					<strong>URL: </strong>
					<%= link_to(@college.web_page, "http://" + @college.web_page) %>
				</p>
				

				<p><strong>Address: </strong><%= @college.address %>, <%= @college.city %>, <%= @college.state %> <%= @college.zip %></p>
				<p><strong>Phone: </strong><%= @college.phone %></p>

			</div>
		</div>



		<div class="col-md-6">
			<div class="well">
				<h3>Apply Checklist</h3>
				<div class="row">
				  <div class="col-md-4">
				  	<h4>Due Diligence</h4>
				  </div>
				  <div class="col-md-8">
				    <div class="input-group">
				      <span class="input-group-addon">
				        <input type="checkbox" aria-label="...">
				      </span>
				      <input type="text" class="form-control" aria-label="...">
				    </div><!-- /input-group -->
				  </div><!-- /.col-lg-6 -->
				</div>
				<div class="row">
				  <div class="col-md-4">
				  	<h4>Application</h4>
				  </div>
				  <div class="col-md-8">
				    <div class="input-group">
				      <span class="input-group-addon">
				        <input type="checkbox" aria-label="...">
				      </span>
				      <input type="text" class="form-control" aria-label="...">
				    </div><!-- /input-group -->
				  </div><!-- /.col-lg-6 -->
				</div>
				<div class="row">
				  <div class="col-md-4">
				  	<h4>Due Diligence</h4>
				  </div>
				  <div class="col-md-8">
				    <div class="input-group">
				      <span class="input-group-addon">
				        <input type="checkbox" aria-label="...">
				      </span>
				      <input type="text" class="form-control" aria-label="...">
				    </div><!-- /input-group -->
				  </div><!-- /.col-lg-6 -->
				</div>
				<div class="row">
				  <div class="col-md-4">
				  	<h4>Due Diligence</h4>
				  </div>
				  <div class="col-md-8">
				    <div class="input-group">
				      <span class="input-group-addon">
				        <input type="checkbox" aria-label="...">
				      </span>
				      <input type="text" class="form-control" aria-label="...">
				    </div><!-- /input-group -->
				  </div><!-- /.col-lg-6 -->
				</div>
				<div class="row">
				  <div class="col-md-4">
				  	<h4>Due Diligence</h4>
				  </div>
				  <div class="col-md-8">
				    <div class="input-group">
				      <span class="input-group-addon">
				        <input type="checkbox" aria-label="...">
				      </span>
				      <input type="text" class="form-control" aria-label="...">
				    </div><!-- /input-group -->
				  </div><!-- /.col-lg-6 -->
				</div>
				<div class="row">
				  <div class="col-md-4">
				  	<h4>Due Diligence</h4>
				  </div>
				  <div class="col-md-8">
				    <div class="input-group">
				      <span class="input-group-addon">
				        <input type="checkbox" aria-label="...">
				      </span>
				      <input type="text" class="form-control" aria-label="...">
				    </div><!-- /input-group -->
				  </div><!-- /.col-lg-6 -->
				</div>
			</div>


			<div class="well">
				<!-- LIST NOTES -->
					<% if @college.notes.length > 0 %>
						<h3>Notes</h3>
					<% end %>
					<% @college.notes.each do |note| %>
						
						<!-- EDIT -->
						<%= date_format(note.created_at)%>
						<br>
						<%=note.body %> | 
						<%= link_to edit_note_path note do %>
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
						<% end %> |
						
						<!-- DELETE -->
						<%= link_to note, method: :delete, data: { confirm: 'Are you sure?' } do %>
						<i class="fa fa-trash" aria-hidden="true"></i>
						<% end %>	
						
						<!-- FORMATTING -->
						<hr>
					<% end %>
		
					<%= render 'colleges/form' %>
			</div>
		</div>
		
	</div>
</div>



