<div class="container">
	<div class="row">

		<div class="col-md-6">
			<div class="well">
				<h3>Information</h3>
				<p><strong>College: </strong><%= @college.name %></p>
				
				<p>
					<strong>URL: </strong>
					<%= link_to(@college.web_page, "http://" + @college.web_page) %>
				</p>
				

				<p><strong>Address: </strong><%= @college.address %>, <%= @college.city %>, <%= @college.state %> <%= @college.zip %></p>
				<p><strong>Phone: </strong><%= @college.phone %></p>

			</div>

			<div class="well">
				<h3>Notes</h3>
				<!-- LIST NOTES -->
					<% @notes.each do |note| %>
						
						<!-- EDIT -->
						<%= date_format(note.created_at)%>
						<br>
						<%=note.body %> | 
						<%= link_to edit_note_path note do %>
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
						<% end %> |
						
						<!-- DELETE -->
						<%= link_to note, method: :delete, data: { confirm: 'Are you sure?' } do %>
						<i class="fa fa-trash" aria-hidden="true"></i>
						<% end %>	
						
						<!-- FORMATTING -->
						<hr>
					<% end %>
		
					<%= render 'colleges/form' %>
			</div>

		</div>



		<div class="col-md-6">
			<div class="well">
				<h3>Application Checklist</h3>

			  <div class="form-group">
          <input type="checkbox" name="fancy-checkbox-default" id="fancy-checkbox-default" autocomplete="off" />
          <div class="btn-group">
            <label for="fancy-checkbox-default" class="btn btn-default">
              <span class="fa fa-check"></span>
              <span> </span>
            </label>
            <label for="fancy-checkbox-default" class="btn btn-default active">
              Download the Applicaton
            </label>
         	</div>

			</div>



		</div>
		
	</div>
</div>



